extends page

block content
	.ui.attached.segment.one.column.grid
		.column: .ui.massive.input.field
			.ui.massive.pointing.right.label Name
			input(ng-model="name" placeholder="Ex. Agon")
		.column: .ui.massive.input.field
			.ui.massive.pointing.right.label E-mail
			input(ng-model="email" placeholder="Ex. me@company.com")