extends page

block content
	.ui.top.attached.segment.grid(ng-show="profileIsComplete()"): .column
		user-card(
			profile="summary.profile" 
			preferences="summary.preferences" 
			interests="summary.interests"
		)

	.ui.attached.success.message(ng-show="profileIsComplete()")
		.header Profile complete
		p This will be your profile card	

	.ui.attached.info.message(ng-show="!profileIsComplete()")
		.header Profile incomplete
		p Your profile is still incomplete. Please go back and fill in the required details.		
